/* centering the elements in a container */
@mixin center() {
    margin: 0 auto;
}

.container > * {
    @include center();
}

%simple-border {
    border: 1px solid black;
}

%toolbar-btn-basics {
    width: 30px;
    height: 100%;
    display: flex;
    border: 0;
    text-align: center;
    
}


.toolbar {
    width: 600px;
    height: 120px;
    border: 1px solid purple;
    border-radius: 20px;
    @include center();

    button.leftBtn {
        @extend %toolbar-btn-basics;
        float: left;
        border-radius: 20px 0px 0px 20px;
        
    }
    button.rightBtn {
        @extend %toolbar-btn-basics;
        float: right;
        border-radius: 0px 20px 20px 0px;
        
    }

    button.leftBtn:hover , button.rightBtn:hover{
        background-color: lightgrey;
    }
}
