.emoji-part {
    width: 100px;
    height: 75px;
    min-width: 100px;
    border: 1px solid grey;
    border-radius: 10%;
    margin: auto 10px auto 10px;
}
.active {
    background-color: rgb(243, 243, 243);
    border: 4px solid lightblue;
}

.emoji-part img {
    width: 75px;
    height: 75px;
    margin: 0 auto 0 auto;
}

.part-img {
    display: block;
    background: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
