:root{
    --purple: #c842f4;
    --main-grey: #aaaaaa;
}

.toolbar{
    border: 2px solid var(--purple);
    width: 600px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    background-color: var(--main-grey)
}

.parts{
    display: flex;
    width: 93%;
    overflow: scroll;
    margin: 0 auto;
    background-color: white;
    
}


.toolbar button {
    height: 100%;
    border: none;
}

.toolbar button.leftBtn{
    border-radius: 20px 0 0 20px;

}

.toolbar button.rightBtn{
    border-radius: 0 20px 20px 0;
    
}
